node_modules
dist
.vscode
.git
.github
.husky
.infra
__tests__

.env
.development.env
.staging.env
.prod.env
.example.env

.commitlintrc.json
.eslintignore
.eslintrc.js
.gitignore
.prettierrc
docker-compose.dev.yml
docker-compose.staging.yml
docker-compose.yml
Dockerfile
Makefile
README.md
