# PORT 
PORT_HTTP = 3001

PORT_HTTPS = 8080

#DATABASE
DATABASE_URL = "mysql://user:password@localhost:3306/ufam-dev?schema=ufam-dev"

DATABASE = "supermonitoria"

# Secret key
SECRET_KEY = "secretKey"

# Expiration Code_generate,try again -> ms
EXPIRED_IN_AGAIN = 1

MESSAGE_IN_AGAIN = "1 minuto."

# Expiration Code = X MIN
EXPIRED_IN = 30 

# Email
MAIL_HOST = smtp.gmail.com

MAIL_PORT = 587

MAIL_AUTH_USER = noreply-monitoria@icomp.ufam.edu.br

MAIL_AUTH_PASS = nznukqrpgtpkqijx

SUBJECT_PASSWORD = "Atualizar senha."

SUBJECT_VERIFY_USER = "Verificação de Email."

REQUEST_MONITORING = 'Você recebeu uma nova solicitação!'

ACCEPT_MONITORING = 'Você foi aceito!'

REFUSE_MONITORING = 'Obrigado por tentar...'