<VirtualHost *:80>
  RewriteEngine On
  ProxyRequests Off
  <Proxy balancer://superbackendcluster>
      BalancerMember http://localhost:3010
      BalancerMember http://localhost:3011
      BalancerMember http://localhost:3012
      ProxySet lbmethod=byrequests
  </Proxy>

  ProxyPreserveHost On
  ProxyPass /api balancer://superbackendcluster

  DocumentRoot /var/www/html

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  FallbackResource /index.html
  RewriteEngine on

  # Definindo cabeçalhos de cache para arquivos estáticos - 4 horas
  <Directory /var/www/html>
    Header set Cache-Control "max-age=14400, public"
  </Directory>

</VirtualHost>
