<!DOCTYPE html>
<html lang="pt-br" style="background-color: #ffffff;">

<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <title>E-mail Aceite de Monitor</title>
</head>

<body style="margin:0;">
    <div id=":o6" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
        <div id=":o5" class="a3s aiL msg4639109241040304298"><u></u>
            <div style="height:100%;margin:0;padding:0;width:100%">
                <span class="m_4639109241040304298mcnPreviewText"
                    style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">Super Monitoria | </span>

                <center>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
                        id="m_4639109241040304298bodyTable"
                        style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%">
                        <tbody>
                            <tr>
                                <td align="center" valign="top" id="m_4639109241040304298bodyCell"
                                    style="height:100%;margin:0;padding:0;width:100%">

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top" id="m_4639109241040304298templateHeader"
                                                    style="background: linear-gradient(180deg, #2d2d2c 0%, #2d2d2d 100%);background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:45px;padding-bottom:45px;">

                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                        width="100%" class="m_4639109241040304298templateContainer"
                                                        style="border-collapse:collapse;max-width:600px!important">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top"
                                                                    class="m_4639109241040304298headerContainer"
                                                                    style="background:transparent none no-repeat center/cover;background-color:transparent;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        width="100%"
                                                                        style="min-width:100%;border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top" style="padding:9px">
                                                                                    <table align="left" width="100%"
                                                                                        border="0" cellpadding="0"
                                                                                        cellspacing="0"
                                                                                        style="min-width:100%;border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td valign="top"
                                                                                                    style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">


                                                                                                    <img align="center"
                                                                                                        alt=""
                                                                                                        src="https://verification-code-email-images.s3.sa-east-1.amazonaws.com/logo.png"
                                                                                                        width="216.07999999999998"
                                                                                                        style="max-width:292px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none"
                                                                                                        class="m_4639109241040304298mcnImage CToWUd"
                                                                                                        data-bit="iit">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top" id="m_4639109241040304298templateBody"
                                                    style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:36px;padding-bottom:45px">

                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                        width="100%" class="m_4639109241040304298templateContainer"
                                                        style="border-collapse:collapse;max-width:600px!important">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top"
                                                                    class="m_4639109241040304298bodyContainer"
                                                                    style="background:#transparent none no-repeat center/cover;background-color:#transparent;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        width="100%"
                                                                        style="min-width:100%;border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    style="padding-top:9px">
                                                                                    <table align="left" border="0"
                                                                                        cellpadding="0" cellspacing="0"
                                                                                        style="max-width:100%;min-width:100%;border-collapse:collapse"
                                                                                        width="100%"
                                                                                        class="m_4639109241040304298mcnTextContentContainer">
                                                                                        <tbody>
                                                                                            <tr>

                                                                                                <td valign="top"
                                                                                                    class="m_4639109241040304298mcnTextContent"
                                                                                                    style="padding-top:0;padding-right:40px;padding-bottom:9px;padding-left:40px;word-break:break-word;color:#757575;font-family:Helvetica;font-size:16px;line-height:150%;text-align:center">

                                                                                                    <h3
                                                                                                        style="text-align:center;display:block;margin:0;padding:0;color:#444444;font-family:Helvetica;font-size:22px;font-style:normal;font-weight:bold;line-height:150%;letter-spacing:normal">
                                                                                                        <span
                                                                                                            style="color:#2d2d2c">Você foi aceito!</span>
                                                                                                    </h3>

                                                                                                    <p
                                                                                                        style="text-align:center;margin:10px 0;padding:8px 0px 24px 0px;color:#757575;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                                                        <span
                                                                                                            style="color:#2d2d2c">Sua solicitação para ser monitor foi aceita pelo responsável da disciplina. Acesse a plataforma do Super Monitoria pelo botão abaixo, informe seu horário de disponibilidade e comece essa nova jornada como um SUPER MONITOR ✨</span>
                                                                                                    </p>

                                                                                                    <a href="https://lottiefiles.com/svg-to-lottie/convert;" style="text-decoration:none;"><button
                                                                                                        style="font-size:12px;color: #ffffff;background-color: #65B95E;padding: 16px 32px 16px 32px;border-radius: 40px;line-height: 20px;border-style: none;">Acessar o Super Monitoria</button></a>
                                                                                                            
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                   
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top" id="m_4639109241040304298templateFooter"
                                                    style="background: linear-gradient(180deg, #2d2d2c 0%, #2d2d2d 100%);background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:8px;padding-bottom:8px;">

                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                        width="100%" class="m_4639109241040304298templateContainer"
                                                        style="border-collapse:collapse;max-width:600px!important">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top"
                                                                    class="m_4639109241040304298footerContainer"
                                                                    style="background:transparent none no-repeat center/cover;background-color:transparent;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        width="100%"
                                                                        style="min-width:100%;border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top" style="padding:9px">
                                                                                    <table align="left" width="100%"
                                                                                        border="0" cellpadding="0"
                                                                                        cellspacing="0"
                                                                                        style="min-width:100%;border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td valign="top"
                                                                                                    style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">


                                                                                                    <img align="center"
                                                                                                        alt=""
                                                                                                        src="https://verification-code-email-images.s3.sa-east-1.amazonaws.com/equipe-super-monitoria.png"
                                                                                                        width="147"
                                                                                                        style="max-width:147px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none"
                                                                                                        class="m_4639109241040304298mcnImage CToWUd"
                                                                                                        data-bit="iit">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
                <div class="yj6qo"></div>
                <div class="adL">
                </div>
            </div>
            <div class="adL">
            </div>
        </div>
    </div>
</body>

</html>